/*HERO SECTION*/
.abt-hero {
    position: relative;
    text-align: center;
}

.abt-hero img {
    width: 100%;
    height: auto;
    display: block;
    height: 80vh;
    opacity: 0.9;
}

.abt-hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .abt-hero h1 {
        font-size: 2rem;
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    .abt-hero h1 {
        font-size: 1.5rem;
        padding: 0 10px;
        line-height: 1.3;
    }
}


/*OUR STORY SECTION*/
.story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5rem 5rem;
    flex-wrap: wrap;
}

.story div {
    flex: 1;
}

.story div img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.story h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0%;
    padding-top: 0%;
    margin-bottom: 1.5rem;
    color: #0D0B0B;
}

.story p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #0D0B0B;
    margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
    .story {
        flex-direction: column;
        /*   padding: 30px 15px; */
        gap: 20px;
    }

    .story h2 {
        font-size: 1.5rem;
    }

    .story p {
        font-size: 0.95rem;
    }
}


/*MISSION SECTION*/
.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5rem 5rem;
    flex-wrap: wrap;
}

.mission div {
    flex: 1;
}

.mission div img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.mission h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0%;
    padding-top: 0%;
    margin-bottom: 1.5rem;
    color: #0D0B0B;
}

.mission p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #0D0B0B;
    margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
    .mission {
        flex-direction: column;
        gap: 20px;
    }

    .mission h2 {
        font-size: 1.5rem;
    }

    .mission p {
        font-size: 0.95rem;
    }
}


/*VALUES SECTION*/
.values {
    margin: 5rem 5rem;
    padding: 1rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.values h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: #0D0B0B;
}

.values>div>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.values>div>div>div {
    flex: 1 1 250px;
    max-width: 22%;
    background-color: #fAf8f7;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.values h4 {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0px;
}

.values p {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .values {
        padding: 30px 15px;
    }

    .values h2 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .values>div>div>div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .values h3 {
        font-size: 1.1rem;
    }

    .values p {
        font-size: 0.9rem;
    }
}